*.i
*.o
*.rec
*.swp
*.swo
*.pyc
.idea
# Ignore rulesets so I don't accidently upload something I don't want to
Rules/*
venv
# Don't ignore the default ruleset
!Rules/Default

*.pickle
# Don't commit save files
*.sav
*.omn